.the-data-of,
.this-is-auto,
.this-should-scroll {
  margin-bottom: 0;
}
.this-is-auto-scrollable-this {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-29xl);
}
.this-is-auto-container {
  align-self: stretch;
  flex: 1;
  position: relative;
  mix-blend-mode: normal;
}
.this-is-auto-scrollable-this-s-parent {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 469px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
