.function-tree-icon {
  width: 100%;
  height: 800px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frequently-asked-questions {
  position: relative;
}
.frequently-asked-questions-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid);
}
.quick-answers-to {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.f-a-q-intro,
.f-a-q-item-one,
.partners-header,
.partners-header1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.f-a-q-intro {
  width: 295px;
  padding: 0 var(--padding-mid) var(--padding-9xs);
  font-size: var(--faq-mobile-14px-bold-size);
  color: var(--secondary-text-alt);
}
.f-a-q-item-one,
.partners-header,
.partners-header1 {
  align-self: stretch;
  padding: 0 var(--padding-base);
  max-width: 100%;
}
.partners-header,
.partners-header1 {
  padding: 0 var(--padding-lg) 0 var(--padding-base);
}
.partners-header1 {
  padding: 0 var(--padding-mid) 0 var(--padding-base);
}
.frame-section,
.page-1-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-section {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--b2-16-medium-size);
  color: var(--primary-text);
  font-family: var(--b2-16-medium);
}
.page-1-mobile {
  width: 100%;
  position: relative;
  background-color: var(--body);
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  gap: 2px;
  line-height: normal;
  letter-spacing: normal;
}
