.createnary3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.star-configuration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-83xl) 0 0;
  font-size: var(--h1-mobile-24px-bold-size);
  font-family: var(--font-monoton);
}
.navigation1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 78px;
}
.about-createnary2,
.contact-us1,
.refund1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 128px;
}
.contact-us1,
.refund1 {
  min-width: 79px;
}
.refund1 {
  min-width: 50px;
}
.newsletter1 {
  display: inline-block;
  min-width: 77px;
}
.newsletter1,
.privacy-policy1,
.terms-conditions1 {
  position: relative;
  font-weight: 500;
}
.privacy-policy1 {
  display: inline-block;
  min-width: 110px;
}
.oval-orchard {
  width: 179px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.contacts1 {
  width: 83px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.frame-icon8 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.delhi-india1 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.circle-cycle,
.contact-details1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.circle-cycle {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.contact-details1 {
  width: 126px;
  flex-direction: row;
  gap: var(--gap-mini);
}
.popover {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
  white-space: nowrap;
}
.star-scatter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-16xl);
}
.all-new-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.watch-quiet-the {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 116px;
  white-space: nowrap;
}
.parallelogram-platform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.footer-contact1,
.pentagon-plateau,
.social-links,
.triangle-trio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.footer-contact1,
.pentagon-plateau,
.triangle-trio {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.footer-contact1,
.triangle-trio {
  gap: var(--gap-base-5);
}
.triangle-trio {
  width: 1080px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.footer-content1,
.watch-the-flim {
  align-self: stretch;
  box-sizing: border-box;
}
.footer-content1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.watch-the-flim {
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--body);
}
.footer-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-40xl);
  max-width: 100%;
}
.createnary-20241 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 122px;
}
.copyright,
.footer1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--faq-mobile-14px-bold-size);
}
.footer1 {
  background-color: var(--primary);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-lgi-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--b2-16-medium-size);
  color: var(--body);
  font-family: var(--b2-16-medium);
}
@media screen and (max-width: 800px) {
  .triangle-trio {
    flex-wrap: wrap;
  }
  .footer-wrapper {
    gap: var(--gap-10xl);
  }
}
@media screen and (max-width: 450px) {
  .createnary3 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .footer1 {
    padding-top: var(--padding-7xl);
    box-sizing: border-box;
  }
}
