.frame-child5 {
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 4.27px;
  background-color: var(--primary);
  display: none;
}
.not-applicable {
  position: relative;
  display: inline-block;
  min-width: 12px;
  z-index: 1;
}
.rectangle-parent3 {
  border-radius: 4.27px;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-8) var(--padding-4xs-8) var(--padding-8xs-2)
    var(--padding-xs-2);
  z-index: 1;
}
.get-rewarded-each {
  align-self: stretch;
  position: relative;
}
.you-receive-trending4 {
  margin: 0;
}
.you-receive-trending-container4 {
  position: relative;
  font-size: var(--faq-mobile-14px-bold-size);
  font-weight: 500;
  color: var(--secondary-text-alt);
}
.reward-info {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xs);
}
.reward-details,
.reward-info,
.rewards-content,
.rewards-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reward-details {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  font-size: var(--cta-18px-semibold-size);
  color: var(--primary-text);
}
.rewards-content,
.rewards-content-wrapper {
  flex-direction: row;
  max-width: 100%;
}
.rewards-content {
  flex: 1;
  gap: var(--gap-lg);
}
.rewards-content-wrapper {
  width: 345px;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lgi-2);
  color: var(--white);
  font-family: var(--b2-16-medium);
}
