.estimate-earning-potential {
  position: relative;
}
.pages,
.what-kind-of {
  position: relative;
  font-weight: 500;
  flex-shrink: 0;
}
.what-kind-of {
  debug_commit: 1de1738;
}
.pages {
  width: 208px;
  display: inline-block;
}
.chevron-icon {
  height: 22.2px;
  width: 22.2px;
  position: absolute;
  margin: 0 !important;
  right: 19.9px;
  bottom: 8.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.dropdown,
.influencer-type,
.property {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.property {
  flex: 1;
  flex-direction: row;
  padding: var(--padding-xs-5) var(--padding-sm-3) var(--padding-xs-4);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-41xl-8);
}
.dropdown,
.influencer-type {
  align-self: stretch;
}
.dropdown {
  border-radius: 8.87px;
  background-color: var(--white);
  border: 1.1px solid var(--neutral-grey);
  box-sizing: border-box;
  flex-direction: row;
  flex-shrink: 0;
  debug_commit: 1de1738;
  font-size: var(--faq-mobile-14px-bold-size);
  color: var(--color-gray-200);
}
.influencer-type {
  flex-direction: column;
  gap: var(--gap-4xl);
}
.how-many-followers {
  position: relative;
  font-weight: 500;
}
.input-type-area {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi-1);
  max-width: 100%;
  font-size: var(--b2-16-medium-size);
}
.unactive {
  position: absolute;
  width: 100%;
  top: 11.2px;
  right: 0;
  left: 0;
  border-radius: 43.25px;
  background-color: var(--secondary-text);
  height: 7.5px;
}
.active,
.handle-track-child {
  position: absolute;
  background-color: var(--primary);
}
.active {
  top: 11.3px;
  left: 0;
  border-radius: 43.25px;
  width: 150px;
  height: 7.5px;
}
.handle-track-child {
  top: 0;
  left: 141.8px;
  border-radius: var(--br-8xs);
  width: 20px;
  height: 30px;
  z-index: 1;
}
.handle-track {
  height: 30px;
  flex: 1;
  position: relative;
}
.input-filter {
  position: absolute;
  width: 53.93%;
  top: 0;
  right: 46.07%;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.slider1 {
  height: 30px;
  flex: 1;
  position: relative;
}
.slider-track {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-sm-9);
}
.k {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 32px;
}
.amount,
.follower-value {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.amount {
  border-radius: var(--br-mini);
  background-color: var(--body);
  border-bottom: 2px solid var(--primary);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-4xs);
}
.follower-value {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-14xl);
}
.how-many-products {
  position: relative;
  font-size: var(--b2-16-medium-size);
  font-weight: 500;
}
.follower-slider-area {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
  gap: var(--gap-xl);
}
.unactive1 {
  position: absolute;
  width: 100%;
  top: 11.2px;
  right: 0;
  left: 0;
  border-radius: 43.25px;
  background-color: var(--secondary-text);
  height: 7.5px;
}
.active1,
.handle-track-item {
  position: absolute;
  background-color: var(--primary);
}
.active1 {
  top: 11.3px;
  left: 0;
  border-radius: 43.25px;
  width: 150px;
  height: 7.5px;
}
.handle-track-item {
  top: 0;
  left: 141.8px;
  border-radius: var(--br-8xs);
  width: 20px;
  height: 30px;
  z-index: 1;
}
.handle-track1 {
  height: 30px;
  flex: 1;
  position: relative;
}
.handle-track-wrapper {
  position: absolute;
  width: 53.93%;
  top: 0;
  right: 46.07%;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.div1,
.slider11 {
  position: relative;
}
.slider11 {
  align-self: stretch;
  height: 30px;
}
.div1 {
  font-weight: 500;
  display: inline-block;
  min-width: 16px;
}
.amount1,
.listing-value {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.amount1 {
  border-radius: var(--br-mini);
  background-color: var(--body);
  border-bottom: 2px solid var(--primary);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-4xs);
}
.listing-value {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.earnings-button-area,
.listings-slider-area,
.slider-track1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-track1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.earnings-button-area,
.listings-slider-area {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 var(--padding-sm);
}
.earnings-button-area {
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-5xl);
}
.calculator {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xl-7);
  font-size: var(--faq-mobile-14px-bold-size);
}
.calculator,
.earnings-content,
.earnings-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.earnings-content {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.earnings-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-mid-8) var(--padding-30xl-7) var(--padding-lg);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--b2-16-medium-size);
  color: var(--primary-text);
  font-family: var(--b2-16-medium);
}
