.creators-marketplace {
  background: linear-gradient(90.37deg, #4a508e, #674a8e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome-to-indias-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.create-your-e-store {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.create-your-e-store-zero-cos-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-mini);
  text-align: left;
  font-size: var(--b2-16-medium-size);
  color: var(--color-black);
}
.welcome-to-indias-first-creat-parent {
  flex-direction: column;
  gap: var(--gap-base);
}
.hero-button-area,
.hero-content,
.welcome-to-indias-first-creat-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero-button-area {
  flex-direction: row;
  padding: 0 var(--padding-51xl) 0 var(--padding-49xl);
}
.hero-content {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.responsive-device-33-copy-2 {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: -9px;
  top: 19px;
  transform: scale(1.219);
}
.wrapper-32767469-responsive-de {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 150px);
  max-height: 100%;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mock {
  margin-left: -92px;
  width: 450px;
  height: 450px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 170%;
  z-index: 2;
}
.hero {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--h1-mobile-24px-bold-size);
  color: var(--primary-text);
  font-family: var(--b2-16-medium);
}
