.how-it-works2 {
  width: 141.2px;
  position: relative;
  display: inline-block;
}
.getsetyo-handholds-you1 {
  margin: 0;
}
.getsetyo-handholds-you-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.you-focus-on1 {
  margin: 0;
}
.you-focus-on-container {
  width: 294px;
  position: relative;
  font-size: var(--faq-mobile-14px-bold-size);
  font-weight: 500;
  color: var(--secondary-text-alt);
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.workflow-description {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-3xs);
  gap: var(--gap-3xl);
  font-size: var(--h2-mobile-20px-bold-size);
  color: var(--primary-text);
}
.action-area,
.how-it-works1,
.workflow-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.action-area {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.how-it-works1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--b2-16-medium-size);
  color: var(--color-black);
  font-family: var(--b2-16-medium);
}
