@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --b2-16-medium: Urbanist;
  --font-monoton: Monoton;
  --font-inter: Inter;
  --font-manrope: Manrope;

  /* font sizes */
  --faq-mobile-14px-bold-size: 14px;
  --b2-16-medium-size: 16px;
  --h1-mobile-24px-bold-size: 24px;
  --font-size-lgi: 19px;
  --h4-22px-bold-size: 22px;
  --cta-18px-semibold-size: 18px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --h3-27px-bold-size: 27px;
  --h1-40px-bold-size: 40px;
  --font-size-2xs: 11px;
  --h2-mobile-20px-bold-size: 20px;
  --font-size-lgi-2: 19.2px;
  --font-size-13xl: 32px;

  /* Colors */
  --white: #fff;
  --primary: #4a508e;
  --body: #f8f9fb;
  --secondary-text-alt: #404040;
  --primary-text: #11151d;
  --color-gray-300: rgba(17, 21, 29, 0.4);
  --color-gray-200: rgba(23, 23, 23, 0.4);
  --color-gray-400: rgba(17, 21, 29, 0.08);
  --secondary-text: #d6d6d6;
  --secondary-text1: #ccc;
  --glass: rgba(214, 214, 214, 0.4);
  --color-black: #000;
  --color-gainsboro-100: #e6e6e6;
  --neutral-grey: #dddce0;
  --color-silver: #c0c0c0;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-lgi-5: 19.5px;
  --gap-40xl: 59px;
  --gap-10xl: 29px;
  --gap-xl: 20px;
  --gap-base-5: 15.5px;
  --gap-6xs: 7px;
  --gap-mini: 15px;
  --gap-base: 16px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-11xl: 30px;
  --gap-41xl: 60px;
  --gap-5xl: 24px;
  --gap-438xl: 457px;
  --gap-9xl: 28px;
  --gap-7xl-5: 26.5px;
  --gap-2xs: 11px;
  --gap-21xl: 40px;
  --gap-12xl: 31px;
  --gap-xs: 12px;
  --gap-29xl-5: 48.5px;
  --gap-sm: 14px;
  --gap-10xl-7: 29.7px;
  --gap-lgi-1: 19.1px;
  --gap-4xl: 23px;
  --gap-41xl-8: 60.8px;
  --gap-13xl: 32px;
  --gap-lg: 18px;
  --gap-base-7: 15.7px;
  --gap-9xs: 4px;
  --gap-12xs-4: 0.4px;
  --gap-3xl: 22px;
  --gap-lgi: 19px;
  --gap-62xl: 81px;
  --gap-8xl: 27px;
  --gap-29xl-6: 48.6px;
  --gap-137xl: 156px;
  --gap-20xl: 39px;
  --gap-59xl: 78px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-7xl: 26px;
  --padding-12xs: 1px;
  --padding-10xs: 3px;
  --padding-16xl: 35px;
  --padding-83xl: 102px;
  --padding-161xl: 180px;
  --padding-71xl: 90px;
  --padding-5xs: 8px;
  --padding-lgi: 19px;
  --padding-4xs: 9px;
  --padding-2xl: 21px;
  --padding-4xl-8: 23.8px;
  --padding-5xl: 24px;
  --padding-98xl: 117px;
  --padding-base: 16px;
  --padding-26xl-2: 45.2px;
  --padding-26xl-3: 45.3px;
  --padding-3xl: 22px;
  --padding-9xs: 4px;
  --padding-mini: 15px;
  --padding-2xs: 11px;
  --padding-29xl: 48px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-6xl: 25px;
  --padding-89xl: 108px;
  --padding-11xs: 2px;
  --padding-mid: 17px;
  --padding-lg: 18px;
  --padding-12xl: 31px;
  --padding-64xl: 83px;
  --padding-15xl: 34px;
  --padding-mid-8: 17.8px;
  --padding-30xl-7: 49.7px;
  --padding-14xl: 33px;
  --padding-sm-9: 13.9px;
  --padding-xs-5: 11.5px;
  --padding-sm-3: 13.3px;
  --padding-xs-4: 11.4px;
  --padding-8xl: 27px;
  --padding-51xl: 70px;
  --padding-49xl: 68px;
  --padding-11xl: 30px;
  --padding-19xl: 38px;
  --padding-39xl-3: 58.3px;
  --padding-39xl: 58px;
  --padding-7xs: 6px;
  --padding-8xs-8: 4.8px;
  --padding-4xs-8: 8.8px;
  --padding-8xs-2: 4.2px;
  --padding-xs-2: 11.2px;
  --padding-2xs-8: 10.8px;
  --padding-2xs-3: 10.3px;
  --padding-2xs-7: 10.7px;
  --padding-mini-5: 14.5px;
  --padding-18xl-3: 37.3px;
  --padding-18xl: 37px;
  --padding-smi-2: 12.2px;
  --padding-smi-8: 12.8px;
  --padding-8xs: 5px;
  --padding-36xl: 55px;
  --padding-37xl: 56px;
  --padding-9xl: 28px;
  --padding-78xl: 97px;
  --padding-44xl: 63px;
  --padding-67xl: 86px;
  --padding-7xs-5: 5.5px;
  --padding-4xs-9: 8.9px;
  --padding-11xs-6: 1.6px;
  --padding-55xl: 74px;
  --padding-26xl: 45px;
  --padding-262xl: 281px;
  --padding-164xl: 183px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-5xs: 8px;
  --br-lg: 18px;
  --br-16xl: 35px;
  --br-6xl: 25px;
  --br-xs: 12px;
  --br-base: 16px;
  --br-8xs: 5px;
  --br-24xl-3: 43.3px;
  --br-4xs-9: 8.9px;
  --br-8xs-3: 4.3px;
  --br-5xs-2: 7.2px;
  --br-25xl: 44px;
}
